.project {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
  transition: all 500ms ease-in-out;
}

.hidden {
  opacity: 0;
  transform: translateY(5rem);
}

.project-link {
  position: absolute;
  z-index: 5;
  width: 95%;
  height: 70rem;
}

.project-link:hover ~ .project-img--dark {
  border: 2px solid var(--color-primary);
}

.project-link:hover ~ .project-img--light {
  border: 2px solid var(--color-primary-lm);
}

.project-title {
   font-family: "Clash-Display", sans-serif;
 text-transform: uppercase;
 font-weight: bold;
  color: white;
  font-size: 4rem;
  z-index: 9999;
  transition: color 200ms ease-in;
}

.project-title:hover {
  color: var(-color-primary);
}

.project-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  border: 2px solid rgba(255, 255, 255, 0);
  transition: border 150ms ease-in;
}

.project-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-header h2 {
  color: var(--color-primary);
  font-size: 2rem;
}

.project-header--dark h2 {
  color: var(--color-primary);
}

.project-header--dark a {
  color: #fff;
}

.project-header--light h2 {
  color: var(--color-primary-lm);
}

.project-header--light a {
  color: #000;
}

.project-description {
  width: 97%;
  margin: 2rem 0;
  z-index: 2;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
}

.project-description p {
  margin-bottom: 3rem;
}

.project-description--dark {
   color: #fff;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-tertiary);
}

.project-description--light {
  color: #000;
    background-color: var(--color-secondary-lm);
  border: 1px solid var(--color-tertiary);
  
}

.project-description--dark li {
  color: var(--color-primary);
}

.project-description--light li {
  color: var(--color-primary-lm);
  
}

.project-technologies {
    border-top: 1px solid var(--color-tertiary);
    padding-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-technologies li {

  font-size: 1.6rem;

}

.project-link-btn {
  margin-top: 2rem;
  padding: 1rem 2rem;

  border-radius: 5px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: all 250ms ease;
}


.project-link-btn span img {
  height: 2rem;
  box-shadow: unset;
  width: auto;
}

.project-link-btn--dark {
  background-color: var(--color-primary);
  color: #000;
}

.project-link-btn--light {
  background-color: var(--color-primary-lm);
  color: #fff;
}

.project-link-btn:hover {
  gap: 3rem;
}

.project-link-btn--dark:hover {
    background-color: #fff;
  color: #000;
}


@media (max-width: 48em) {
  .mobile-projects {
    display: flex;
  }
}
