.project {
  position: relative;
  width: 85%;
  min-height: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15rem;
  transition: all 600ms ease-in-out;
}

.project-link {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 30rem;
}

.project-link:hover ~ .project-img_container--dark {
  border: 2px solid var(--color-primary);
}

.project-link:hover ~ .project-img_container--light {
  border: 2px solid var(--color-primary-lm);
}

.project-title {
  font-family: "Clash-Display", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 4rem;
  z-index: 9999;
  transition: color 200ms ease-in;
  font-weight: bold;
}

.project-text .project-title {
  display: block;
  text-align: right;
}

.project-img_container {
  width: 60%;
  height: 35vw;
  border: 2px solid var(--color-secondary);
  border-radius: 10px;
  overflow: hidden;
  transition: border 150ms ease-in;
  -webkit-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
}

.project-img {
  width: 100%;
  height: 100%;
  /* border: 2px solid rgba(255, 255, 255, 0); */
  /* transition: border 150ms ease-in; */
}

.project-text,
.project-text-alt {
  width: 38%;
  display: flex;
  flex-direction: column;
}

.project-text {
  align-items: flex-end;
}

.project-text-alt {
  align-items: flex-start;
}

.project-header,
.project-header-alt {
  display: flex;
  flex-direction: column;
}

.project-header {
  align-items: flex-end;
}

.project-header-alt {
  align-items: flex-start;
}

.project-header h2,
.project-header-alt h2 {
  color: var(--color-primary);
  font-size: 2rem;
}

.project-header--dark h1 {
  color: #fff;
}

.project-header--dark h2 {
  color: var(--color-primary);
}

.project-header--light h1 {
  color: #000;
}

.project-header--light h2 {
  color: var(--color-primary-lm);
}

.project-description,
.project-description-alt {
  border: 1px solid var(--color-tertiary);
  width: 110%;
  margin: 2rem 0;
  background-color: var(--color-secondary);
  z-index: 2;
  padding: 2rem 2rem 2rem 4rem;
   border-radius: var(--border-radius-btn);
  -webkit-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
}

.project-description-dark {
  color: #fff;
  background-color: var(--color-secondary);
}

.project-description-light {
  color: #000;
  background-color: var(--color-secondary-lm);
}

.project-description-dark .project-technologies li {
  color: var(--color-primary);
}

.project-description-light .project-technologies li {
  color: var(--color-primary-lm);
}

.project-description p,
.project-description-alt p {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-tertiary);
  margin-bottom: 1rem;
}

.project-technologies {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-technologies li {
  font-size: 1.6rem;
}

.hidden {
  opacity: 0;
  transform: translateX(5rem);
}

.hidden-alt {
  opacity: 0;
  transform: translateX(-5rem);
}

.project-link-btn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: var(--border-radius-btn);
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: all 250ms ease;
  text-transform: uppercase;
}

.project-link-btn--dark {
  background-color: var(--color-primary);
  color: #000;
}

.project-link-btn--dark:hover {
  background-color: #fff;
  gap: 3rem;
}

.project-link-btn--light {
  background-color: var(--color-primary-lm);
  color: #fff;
}

.project-link-btn--light:hover {
  background-color: #000;
  gap: 3rem;
}

.project-link-btn span img {
  height: 2rem;
  width: auto;
}

@media (max-width: 48em) {
  .projects {
    display: none;
  }

  .project {
    width: 95%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15rem;
  }
  .projects-section h1 {
    font-size: 5rem;
    margin-bottom: 10rem;
  }

  .tt-header {
    position: relative;
    top: -45rem;
    align-items: center;
  }

  .ap-header {
    position: relative;
    top: -38rem;
    align-items: center;
  }

  .project-link {
    position: absolute;
    z-index: 5;
    width: 90%;
    height: 60%;
  }

  .project-description {
    position: relative;
    top: -5rem;
    width: 90%;
    margin: 0rem 0;
    background-color: var(--color-bg-2);
    color: var(--color-text-grey);
    z-index: 2;
    padding: 2rem 2rem 2rem 4rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
    box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  }

  .project-text {
    align-items: center;
  }

  .project-text-alt {
    align-items: center;
  }

  .project-img {
    height: 45rem;
    width: auto;
    border-radius: 5px;
    -webkit-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
    box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
    border: 2px solid rgba(255, 255, 255, 0);
    transition: border 150ms ease-in;
  }
}
