.certs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
    background-color: var(--color-bg-1);
}

.certs-container {
    position: relative;
      width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
     
}

.certs h1 {
    font-size: 3rem;
    color: #fff;
    margin: 3rem;
}

.cert {
    width: 70%;
    height: auto;
    margin-bottom: 2rem;
    z-index: 55;
}

.link {
    margin-top: 5rem;
    color: var(--color-primary);
    font-size: 3rem;
    transition: color .200ms ease-in;
}

.link:hover {
    color: #fff;
}

@media (max-width: 40em) {
 
.cert {
    width: 96%;
    margin-bottom: 2rem;
    z-index: 55;
}
}
