:root {
  --color-primary: #00d9ff;
  --color-2: #cd32b3;

  --color-bg-1: #03384e;
  --color-bg-2: #012332;
  --color-bg-3: #011d29;

  --color-text-grey: #e1e1e1;
}

@font-face {
  font-family: "Clash-Display";
  src: url("../../public/assets/fonts/ClashDisplay-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Display";
  src: url("../../public/assets/fonts/ClashDisplay-Semibold.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Display";
  src: url("../../public/assets/fonts/ClashDisplay-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Display";
  src: url("../../public/assets/fonts/ClashDisplay-Light.woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("../../public/assets/fonts/Panchang-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("../../public/assets/fonts/Panchang-Extralight.woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("../../public/assets/fonts/Panchang-Light.woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("../../public/assets/fonts/Panchang-Medium.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("../../public/assets/fonts/Panchang-Semibold.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("../../public/assets/fonts/Panchang-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../public/assets/fonts/Satoshi-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Chillax";
  src: url("../../public/assets/fonts/Chillax-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chillax";
  src: url("../../public/assets/fonts/Chillax-Semibold.woff2");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  width: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
}

@media (max-width: 65em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 50%;
  }
}

body {
  overflow-x: hidden;
  width: 100%;
  font-weight: 200;
  letter-spacing: 0.05rem;
  background-color: var(--main-color-bg-1);
}

@media (max-width: 40em) {
  body {
    background-color: black;
  }
}

p,
li,
a,
label,
div,
label,
textarea,
button {
  font-family: "Chillax", sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-family: "Panchang", sans-serif;
  font-size: 3.2rem;
}

h2 {
  font-family: "Panchang", sans-serif;
  font-size: 2.4rem;
}

h3 {
  font-family: "Panchang", sans-serif;
  font-size: 1.9rem;
}

li {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
  transition: color 250ms ease-in;
}

input[type="text"],
input[type="number"],
textarea {
  font-size: 17px;
}

.section-title {
  font-size: 5vw;
  margin-bottom: 5rem;
  color: transparent;
  background-image: linear-gradient(to right, #fff, var(--color-primary));
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: var(--text-shadow);
}

@media (max-width: 50em) {
  .section-title {
    font-size: 8vw;
    margin-bottom: 5rem;
  }
}
