:root {
  /*-- DARK MODE --*/
  --color-primary: #bdfe00;
  --color-secondary: #1b1b1b;
  --color-tertiary: #6a6a6a;
  /*-- LIGHT MODE --*/
  --color-primary-lm: #2c630e;
  --color-secondary-lm: #ffffff;
  --color-tertiary-lm: #6a6a6a;

  --text-shadow: 4px 2px 0px rgba(0, 0, 0, 1);
  --box-shadow: 4px 2px 0px rgba(0, 0, 0, 1);

  --ms-theme: 500ms;
}

@font-face {
  font-family: "Clash-Display";
  src: url("../../public/assets/fonts/ClashDisplay-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Display";
  src: url("../../public/assets/fonts/ClashDisplay-Semibold.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Display";
  src: url("../../public/assets/fonts/ClashDisplay-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Display";
  src: url("../../public/assets/fonts/ClashDisplay-Light.woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("../../public/assets/fonts/Panchang-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("../../public/assets/fonts/Panchang-Extralight.woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("../../public/assets/fonts/Panchang-Light.woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("../../public/assets/fonts/Panchang-Medium.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("../../public/assets/fonts/Panchang-Semibold.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Panchang";
  src: url("../../public/assets/fonts/Panchang-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../public/assets/fonts/Satoshi-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Chillax";
  src: url("../../public/assets/fonts/Chillax-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chillax";
  src: url("../../public/assets/fonts/Chillax-Semibold.woff2");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  width: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
}

@media (max-width: 65em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 50%;
  }
}

body {
  overflow-x: hidden;
  width: 100%;
  font-weight: 200;
  letter-spacing: 0.05rem;
  background-color: var(--color-secondary);
}

@media (max-width: 40em) {
  body {
    background-color: #000000;
  }
}

p,
li,
a,
label,
div,
label,
textarea,
button {
  font-family: "Chillax", sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-family: "Panchang", sans-serif;
  font-size: 3.2rem;
}

h2 {
  font-family: "Panchang", sans-serif;
  font-size: 2.4rem;
}

h3 {
  font-family: "Panchang", sans-serif;
  font-size: 1.9rem;
}

li {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
  transition: color 250ms ease-in;
}

input[type="text"],
input[type="number"],
textarea {
  font-size: 17px;
}

.section-title {
  font-size: 5vw;
  margin-bottom: 5rem;
  color: var(--color-primary);
  text-transform: uppercase;
  /* color: transparent;
  background-image: linear-gradient(to right, #fff, var(--color-primary));
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: var(--text-shadow); */
}

.section-title--dark {
  color: var(--color-primary);
}

.section-title--light {
  color: var(--color-primary-lm);
}

@media (max-width: 50em) {
  .section-title {
    font-size: 8vw;
    margin-bottom: 5rem;
  }
}

.dark {
  background-color: #000;
  color: #ffffff;
}

.light {
  background-color: #fff;
  color: #000;
}

.background-dark {

  background: #555555;
  background: radial-gradient(circle, #555555 0%, #000000 100%);
  background-color: red;
}

.background-light {

  background: #ffffff;
  background: radial-gradient(circle, #ffffff 0%, #d4d4d4 100%);
}
