.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100rem;
}

.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -2;
}

.background-dark {
  background: #555555;
  background: radial-gradient(circle, #555555 0%, #000000 100%);
}

.background-light {
  background: #ffffff;
  background: radial-gradient(
    circle,
    #ffffff 0%,
    #e5e5e5 100%
  );
}
