.bio-section {
  width: 100%;
  min-height: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 10rem 0;
  z-index: 1;
}

.bio-container {
  padding: 3rem;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-tertiary);
  border-radius: 5px;
  -webkit-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
}

.bio-container-light {
color: #000;
background-color: var(--color-secondary-lm);
}

.bio-container-dark {
  color: #fff;
   background-color: var(--color-secondary);
  
}

.bio-text {
  width: 50%;
}

.bio-text p {
  margin-bottom: 2rem;
}

.bio-container a {
   color: var(--color-primary);
  transition: color 150ms ease-in;
  text-decoration: underline;
}

.bio-container-dark a {
  color: var(--color-primary);
}

.bio-container-light a {
  color: var(--color-primary-lm);
}

.bio-container a :hover {
  color: #fff;
}

.bio-img__container {
  position: relative;
  width: 45%;
  height: 30vw;
  margin-left: 2rem;
  border-radius: 10px;
  overflow: hidden;

}


.bio-img__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 60em) {
  .bio-container {
    width: 85%;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
  }

  .bio-img__container {
    width: 97%;
    height: 60vw;
    margin: 0 0 2rem 0;
  }

  .bio-text {
    width: 97%;
  }
}

@media (max-width: 50em) {
  .bio-section {
      margin-top: 35rem;
  }
}

@media (max-width: 35em) {

  .bio-container {
    width: 98%;
  
  }



    
}
