.footer {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  transition: all 400ms ease-in-out;
}

.footer-dark {
   color: #ffffff;
}

.footer-light {
  color: #000;
}

.logo-container {
  min-width: 23rem;
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 6rem;
  width: auto;
  margin-right: 0.5rem;
}

.hidden {
  opacity: 0;
  transform: translateY(5rem);
}

