.projects-section {
  width: 100%;
  min-height: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  padding-bottom: 5rem;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 48em) {
  .projects {
    display: none;
  }
}
