.skills-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10rem;
}

.skills-container {
  min-height: 20rem;
  width: 60%;
   border-radius: var(--border-radius-btn);
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-tertiary);
  -webkit-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 15px 10px -2px rgba(0, 0, 0, 0.49);
}

.skills-container-dark {
   color: #fff;
   background-color: var(--color-secondary);
}

.skills-container-light {
   color: #000;
   background-color: var(--color-secondary-lm);
}

.skills-container a {
  color: var(--color-primary);
  transition: color 200ms ease-in;
  text-decoration: underline;
}

.skills-container-dark  a {
    color: var(--color-primary);
}

.skills-container-light a {
    color: var(--color-primary-lm);
}

.skills-container-dark a:hover {
  color: #ffffff;
}

.skills-display-container {
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skills-display-container h2 {
  margin: 1rem;
    font-size: 1.9rem;
}

.skills-grid {
  padding: 2rem 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}

.skills-overview {
  padding: 2rem;
  color: var(--color-text-grey);
  border-bottom: 1px solid var(--color-tertiary);
  display: flex;
  flex-direction: column;
}

.skills-overview p {
  margin-bottom: 1rem;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.icon--dark {
  color: var(--color-primary);
}

.icon--light {
  color: var(--color-primary-lm);
}

.skill p {
  margin-left: 1rem;
}



@media (max-width: 55em) {
   .skills-container {
      width: 80%;
   }
}

@media (max-width: 40em) {
  .skills-container {
    width: 98%;
  }

}

@media (max-width: 35em) {
  .skill p {
  margin-left: .5rem;
}

  .skills-grid {
  padding: 2rem 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}
}